  <%
=begin%>
 <%= button_to "Add ingredient", recipe_path(@recipe.id), :class => "btn btn-primary my-5" %>  
<%
=end%>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add ingredient
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add ingredient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @recipe_food, url: foods_path do |form| %>
          <div class="mb-5 w-50 ">
            <%= form.label :name, "Food Name", :class => "form-label" %>
            <%= form.text_field :name, placeholder: "Food Name", required: true, :class => "form-control" %>
          </div>

          <div class="mb-5 w-50">
            <%= form.label :description, "Qauntity", :class => "form-label" %>
            <%= form.text_field :description, placeholder: "Qauntity", required: true, :class => "form-control" %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <div>
                <%= form.submit "Create", class: "btn btn-primary", disable_with: "Please wait..." %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>