<h1><%= @recipe.name %></h1>
<div class="d-flex">
  <div>
    <h3><%= @recipe.preparation_time %></h3>
    <h3><%= @recipe.cooking_time %></h3>
    <p><%= @recipe.description %></p>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
  </div>
</div>
<div>
  <%= link_to "Generate shoping list", recipe_path(@recipe.id), :class => "btn btn-primary my-5" %>
  <!-- Modal -->
  <%= render "ingredient" %>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Food1</th>
      <td>Quantity1</td>
      <td>Value1</td>
      <td>action1</td>
    </tr>
  </tbody>
  <%
=begin%>
 <tbody>
    <tr>
      <th scope="row">Food1</th>
      <td>Quantity1</td>
      <td>Value1</td>
      <td>action1</td>
    </tr>
    <tr>
      <th scope="row">Food2</th>
      <td>Quantity2</td>
      <td>Value2</td>
      <td>action2</td>
    </tr>
    <tr>
      <th scope="row">Food3</th>
      <td>Quantity3</td>
      <td>Value3</td>
      <td>action3</td>
    </tr>
  </tbody> 
<%
=end%>
</table>