<h1>Please add your ingredient</h1>
<br>
<%= form_with model:@recipeFood, url: recipe_recipe_foods_path(@recipe.id) do |form| %>
    <% if @recipe_food.errors.any? %>
        <div> 
            <% @recipe_food.errors.full_message.each do |message| %>
                <p> <%= message %> </p>
            <% end %>
        </div>
    <%end%>

    <select name='food_id' id='food_id' class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Select Food</option>
        <% @foods.each do |f| %>
        <option value=<%= f.id %>><%= f.name %></option>
        <% end %>
    </select>

    <div class="mb-5 w-25">
        <%= form.label :quantity, "Quantity", :class => "form-label" %>
        <%= form.number_field :quantity, placeholder: "Qauntity", required: true, :class => "form-control" %>
    </div>

    <div>
        <%= form.submit "Add", class: "btn btn-primary", disable_with: "Please wait..." %>
    </div>

<% end %>
